<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/css/tuku.css" rel="stylesheet">

</head>
<body>
    
    <div class="fa">
        <header>
            <div>
                <div class="logo"><a href="index.html"><img src="../static/img/a1.jpg" height="70px" width="80px"></a><h1>环保小当家欢迎您</h1></div>
                <div class="logos">环保小当家</div>
                <div class="index1"><a href="/">返回首页</a> </div>
                <div class="index2" ><a href="#">在线客服</a></div>
            </div>
        </header>
        <div class="div1">
            <dl>
                <dd>
                <img id="1jpg" style="width: 50%;height: 110%;padding-left: 265px;" src="../static/img/images/1.jpg">
                <img id="2jpg" style="width: 100%;height: 100%;padding-left: 10px;" src="../static/img/images/2.jpg">
                <img id="3jpg" style="width: 80%;height: 100%;padding-left: 72px;" src="../static/img/images/3.jpeg">
                <img id="4jpg" style="width: 50%;height: 102%;padding-left: 265px;" src="../static/img/images/4.jpeg">
                <img id="5jpg" style="width: 100%;height: 100%;" src="../static/img/images/5.jpg">
                <img id="6jpg" style="width: 80%;height: 100%;padding-left: 115px;" src="../static/img/images/6.jpg">
                </dd>
                <dt>
                    <a href="#1jpg">1</a>
                    <a href="#2jpg">2</a>
                    <a href="#3jpg">3</a>
                    <a href="#4jpg">4</a>
                    <a href="#5jpg">5</a>
                    <a href="#6jpg">6</a>
            </dt>
            </dl>
        </div>
       
        </div>
        <footer>
            <br>
            <p>CopyRight © 2021 广东中山广东理工****有限公司 All Rights Reserved</p><br>
            <p>邮箱: &nbsp318****qq.com</p><br>

            <p>电话：010-****888 京ICP备*******8号</p>
            <br>
        </footer>
</body>
</html>