<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>环保小当家</title>
    <link href="../static/css/reset.css" type="text/css" rel="stylesheet">
    <link href="../static/css/index/1.css" type="text/css" rel="stylesheet">
    <link href="../static/css/index/2.css" type="text/css" rel="stylesheet">
    <link href="../static/css/news/news.css" type="text/css" rel="stylesheet">
    <link href="../static/css/index/5.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/img/bit64s">
    <script src="../static/js/common.js"></script>
    <script src="../static/js/vue-2.5.16.js"></script>
</head>

<body>
    <div class="fade">
        <header>
            <div>
                <div class="logo"><a href="index.html"><img src="../static/img/index/a1s.jpg" height="70px" width="80px"></a>
                    <h1>环保小当家欢迎您</h1>
                </div>
                <div class="logos">环保小当家</div>
                {% if username %}
                        <div class="inder">
                                <div class="index1"><a href="/user_center_info.html">你好 {{ username }}</a> </div>
                                <div class="index2" ><a href="/logout/">退出登录</a></div>                 
                        </div>
                    {% else %}
                <div class="inder">
                    <div class="index1"><a href="login.html">登录</a> </div>
                    <div class="index2"><a href="register.html">注册</a></div>
                </div>
                {% endif %}
                <div class="user">
                    <a href="/user_center_info.html">用户中心</a>
                </div>
            </div>
        </header>
        <!-- 导航 -->
        <div class="nav">
            <div>
                <ul>
                    <li><a href="index.html">首页</a></li>
                    <li><a href="zixun.html">资讯</a></li>
                    <li><a href="kepu.html">图库</a></li>
                    <li><a href="#">专栏</a></li>
                    <li><a href="#">科普</a></li>
                    <li class="lib"><a href="#">健康生活</a></li>
                    <li class="lib"><a href="#">互联网＋</a></li>
                    <li><a href="#">企业</a></li>
                    <li><a href="#">更多</a></li>
                </ul>
            </div>
        </div>
        <div class="news">
<h6>广东省生态环境厅召开党史学习教育工作会议（6月3日）</h6>
<p1>2021-06-08 22:20 &nbsp;&nbsp;&nbsp;来源：环保小当家-环保新闻</p1>
<img src="../static/img/news/news1.jpg" width="1250px" height="300px">
<p>&nbsp;&nbsp;&nbsp;&nbsp;为深入学习贯彻省委党史学习教育领导小组第三次会议精神，
    落实省委党史学习教育领导小组巡回指导工作要求，6月3日上午，省生态环境厅召开党史学习教育工作会议，
    认真总结前一阶段党史学习教育工作，对一以贯之高标准高质量推进党史学习教育进行再动员再部署。
    省委党史学习教育第十八巡回指导组组长王富民到会指导。省生态环境厅党组书记、党史学习教育领导小组组长周德全主持会议。
    厅领导，二级巡视员，驻厅纪检监察组副组长，各处室、派出机构、直属单位主要负责同志参加会议。<br/><br/>

    &nbsp;&nbsp;&nbsp;&nbsp;王富民在会上介绍了巡回指导组的工作职责、督导内容、工作方法等情况，
    并强调开展巡回指导的重大意义。他对前一阶段省生态环境厅党史学习教育取得的成效给予充分肯定，
    并对如何在新起点上推动省生态环境厅党史学习教育走深走实提出了明确要求。一要进一步提高政治站位，
    把握党史学习教育正确政治方向；二要坚持问题导向，确保党史学习教育走深走实；三要突出本地实际，确保党史学习教育落地落实。
    要突出重点，不断提高党史学习教育质量水平。一是要在“七一”前完成专题学习任务；二是要在“七一”前后召开一次专题组织生活会，
    组织党员领导干部、基层党组织书记、先进典型讲一次党史专题党课；三是深入开展“永远跟党走”群众性主题宣传教育活动；
    四是认真开展领导干部上党课；五是认真组织学习习近平总书记在庆祝中国共产党成立100周年大会上的重要讲话精神。<br/><br/>
    
    &nbsp;&nbsp;&nbsp;&nbsp;周德全表示，省生态环境厅将以此次省委巡回指导组一线把脉、实地指导为契机，
    进一步提高政治站位、强化责任担当，推动党史学习教育向纵深发展，重点做好五个方面工作。一是继续按计划抓好学习和教育，
    确保厅党员领导干部为所在党支部上党课、党组织书记上党课高质量落实；二是将“办实事”与“开新局”贯通起来，
    按时间节点稳步抓好“我为群众办实事”实践活动确定事项的推进落实；三是将党史学习教育与庆祝建党100周年活动有机结合起来，
    加大宣传力度，营造良好氛围，把学习教育和庆祝活动推向高潮；四是按照省委部署和要求，认真组织召开专题组织生活会和厅党组专题民主生活会；
    五是组织收听收看中央“七一”庆祝大会实况，认真学习习近平总书记在庆祝中国共产党成立100周年大会上的重要讲话精神，把党史学习教育引向深入。<br/>
    
    </p>
        </div>
        <div class="hra">
            <div class="footer">
                <div class="yyy">
                    <h1>关于我们</h1>
                    <p>平台简介</p>
                    <p>发展历程</p>
                    <p>支持机构</p>
                    <p>项目案例</p>
                    <p>加入我们</p>
                    <p>联系我们</p>
                </div>
                <div class="yy">
                    <h1>平台功能</h1>
                    <p>平台优势</p>
                    <p>网络广告</p>
                    <p>网站会员</p>
                    <p>新媒体</p>
                    <p>专业服务</p>
                </div>
                <div class="yy">
                    <h1>服务条款</h1>
                    <p>会员条款</p>
                    <p>法律声明</p>
                    <p>下载中心</p>
                    <p>帮助中心</p>
                </div>
                <div class="yy">
                    <h1>友情链接</h1>
                    <p>政府机关</p>
                    <p>环保组织</p>
                    <p>国际组织</p>
                    <p>招标网站</p>
                    <div class="foto"><img src="../static/img/index/erwuima.png" height="110px" width="110px"></div>
                </div>
              
            </div>
            </div>
            <footer>
                <br>
                <p>CopyRight © 2021 广东中山广东理工****有限公司 All Rights Reserved</p><br>
                <p>邮箱: &nbsp318****qq.com</p><br>
    
                <p>电话：010-****888 京ICP备*******8号</p>
                <br>
            </footer>
            </div>
          
    
</body>

</html>
<script src="../static/js/index.js"></script>